.results-layout {
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/
    /*gap: 2rem;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media only screen and (min-width: 570px) and (max-width: 767px) {
    .results-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .results-layout {
        grid-template-columns: repeat(1, minmax(12rem, 40rem));
        justify-content: center;
    }
}
