.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipowner-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.shipowner {
    font-weight: bold;
}

.place {
    display: flex;
    gap: 0.2rem;
}

.header-container svg {
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .header-container {
        font-size: 0.7rem;
    }
}