.card-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 22rem;
    height: 13rem;
}

.user-info-container {
    display: flex;
    gap: 0.7rem;
}

.avatar-container {
    width: 3rem;
    height: 3rem;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.name {
    font-weight: bolder;
    font-size: 0.8rem;
}

.data {
    font-family: "Noto Sans Old Italic", serif;
    font-size: 1rem;
    color: #6e6d6d;
}