/*Mine days of week*/
.days-text {
    font-size: 0.72em;
    font-weight: bold;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 0;
    color: #7f7f7f;
    border-bottom: 1px solid #efefef;
    padding-top: 4rem;
    padding-left: 0;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
    list-style-type: none;
}
.days-text > li:first-child {
    grid-column-start: 2;
    grid-column-end: 3;
}
/*Calendar days of week*/
.react-datepicker__day-names{
    display: none;
}


/*Overall Calendar*/
.react-datepicker {
    border: none;
    background-color: white;
    font-size: 1.1em;
}


/*Calendar Overall month*/
.react-datepicker__current-month {
    font-size: 1.2em;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-transform: lowercase;
    margin-top: 1.5rem;
}
.react-datepicker__month-container{
    width: 100%;
}
/*Calendar month text*/
.react-datepicker__header {
    background-color: white;
    border-bottom: none;
    font-size: 0.7em;
}
/*Calendar month dates area*/
.react-datepicker__month {
    font-size: 0.8em;
}
/*Calendar month date numbers*/
.react-datepicker__day {
    width: 3em;
    line-height: 3em;
    margin: 0;
}


/*First selected single date number*/
.react-datepicker__day--selected {
    background-color: black !important;
    border-radius: 28px !important;
    color: #fff !important;
}
/*On Hover selected date number*/
.react-datepicker__day:hover {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 48px;
    color: black;
}

/*Selected dates range*/
.react-datepicker__day--in-range {
    background-color: #efefef;
    border-radius: 0;
    color: #FF2677;
}
/*Selected first range date*/
.react-datepicker__day--range-start {
    box-shadow: #efefef 15px 0 0 !important;
}
/*Selected last range date*/
.react-datepicker__day--range-end {
    background-color: black !important;
    border-radius: 28px !important;
    color: #fff !important;
    box-shadow: #efefef -13px 0 0 !important;
}
/*.react-datepicker__day--range-start.react-datepicker__day--weekend, .react-datepicker__day--range-end.react-datepicker__day--weekend {*/
/*    box-shadow: none !important;*/
/*}*/

/*Selected last month range date & Selected fist month range date*/
.react-datepicker__day--outside-month {
    color: transparent !important;
}
.react-datepicker__day--001.react-datepicker__day--outside-month.react-datepicker__day--in-range {
    background: linear-gradient(to right, #efefef, #fff) !important;
}

/*Reverse dates selection*/
.react-datepicker__day--in-selecting-range {
    background-color: #fff;
    color: black;
}
/*Random selected date*/
.react-datepicker__day--keyboard-selected {
    background-color: #fff;
    color: black;
}


/*Arrow icons next and previous*/
.react-datepicker__navigation-icon {
    transform: scaleX(1);
}
.react-datepicker__navigation--previous {
    transform: translate(10.5rem, -0.7rem) rotate(90deg) scaleX(1.5) scaleY(5);
}
.react-datepicker__navigation--next {
    transform: translate(-10.5rem, 37rem) rotate(90deg) scaleX(1.5) scaleY(5);
}


@media only screen and (min-width: 768px) {
    .days-text {
        display: none;
    }
    .react-datepicker__day-names{
        display: inline;
        font-size: 1em;
        line-height: 5em;
    }
    .react-datepicker {
        margin-top: 6rem;
    }
}