.layout-content-right {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    overflow-y: scroll;
}

.container svg {
    width: 1.3rem;
}

.images-container {
    /*width: 100%;*/
    padding: 1rem;
}

.desktop-header {
    display: none;
}

.custom {
    border-radius: 1rem;
}

@media only screen and (max-width: 569px) {
    .images-container {
        /*display: none;*/
    }
}

@media only screen and (min-width: 570px) {
    .desktop-header {
        position: sticky;
        top: 0;
        display: block;
        z-index: 1;
    }
}