* {
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

html {
  background: white;
}

body {
  margin: 0;
}

.title {
  background: linear-gradient(90deg, #F9FDFF, #B2DAF4, #CBEAFE, #5EBAE3, #83C5E8, #9ACCE7, #67BDDE, #008EAC, #0185AC, #048CB4);
  padding-top: 0.8rem;
  position: relative;
  z-index: 100;
}

.title p {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-family: 'Lobster', cursive;
  font-size: 1.55rem;
  margin-left: 1rem;
  z-index: 99;
  margin-top: 1rem;
}



/* PROVVISORIO */

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  font: inherit;
  color: #FF2677;
  background-color: white;
  border: 1px solid #FF2677;
  border-radius: 6px;
  padding: 0.5rem 2.5rem;
  width: 100%;
}

button:hover {
  background-color: #FF2677;
  color: white;
}

@media only screen and (max-width: 768px) {
  .title {
    background: linear-gradient(90deg, #CDE7F6, #54ADD9, #72BCDF, #9ED0EB, #68B4D6);
  }
}