.windows-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #efefef;
    font-weight: bold;
}

.normal, .normal:hover, .normal:active, .normal:visited {
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.selected {
    color: black !important;
    border-bottom: 2px solid black;
}

@media only screen and (min-width: 569px) {
    .windows-bar {
        justify-content: flex-start;
        gap: 3rem;
        padding-left: 2rem;
    }
}