.title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.date-range {
    font-size: 0.8em;
    color: #6e6d6d;
    padding-bottom: 1rem;
}

.delete-dates {
    width: fit-content;
    padding-left: 0;
}

.delete-dates:disabled, .delete-dates:disabled:hover {
    background: transparent;
    color: #9e9d9d;
    border: transparent;
}

.boat-availability {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
    width: 100%;
}

.datepicker {
    width: 20rem;
}

@media only screen and (max-width: 768px) {
}