.profile-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    gap: 1rem;
    background: #c2bfbf;
    height: 100vh;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 50%;
}

.single-card {
    display: none;
    width: 100%;
    height: 50%;
}

.loading {
    position: relative;
    background-color: #9e9d9d;
    overflow: hidden;
}

.loading::after {
    display: block;
    /* Content not empty */
    content: "";
    width: 100%;
    height: 100%;
    /* Animation starting point */
    transform: translateX(-100%);
    /* Right and left color transparent, center is white with alpha channel */
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.1),
            transparent
    );
    -webkit-animation: loading 0.8s infinite;
    animation: loading 0.8s infinite;
}

@keyframes loading {
    /* Translate right of 100% */
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@media only screen and (max-height: 1080px) {
    .profile-placeholder {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        display: none;
    }

    .single-card {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
