.header-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.container svg {
    width: 1.5rem;
}

.container svg path {
    stroke: black;
    fill: white;
}