.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.text-name {
    font-size: 1.2em;
    font-weight: bolder;
}

.from {
    font-size: 0.9rem;
    font-style: oblique;
    color: #6e6d6d;
}

.image-container {
    width: 4.5rem;
    height: 4.5rem;
}

.avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}