a {
    text-decoration: none;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    display: inline-flex;
    gap: 10%;
    overflow: hidden;
    position: fixed;
    bottom: 0rem;
    height: 4rem;
    right: 0rem;
    left: 0rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
    z-index: 100;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    color: #D1C9CD;
    height: 3.5rem;
    font-size: 0.9em;
}

a:active, a:hover, a.active {
    color: #FF2677;
}

a:active div, a:hover div, a.active div {
    color: black;
}

.heart {
    color: white;
    stroke: #D1C9CD;
    stroke-width: 1.4;
}

li:nth-child(2) > a:active > svg,
li:nth-child(2) > a:hover > svg,
li:nth-child(2) > a.active > svg {
    stroke: #FF2677;
}
