/* Image Container */
.administration-container {
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/* Header */
.header-background {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(0.7rem);
}

.exit-btn {
    background-color: white;
    border: 3px solid #ff4f38;
    color: #ff4f38;
    font-size: 1.1em;
    border-radius: 2rem;
}

.exit-btn:hover {
    border: 3px solid #ff4f38;
    background-color: #ff4f38;
    color: white;
}

/* Administration Card */
.administration-card {
    background-color: #fff;
    width: 90%;
    height: 60vh;
    border-radius: 1rem;
    margin: 10vh auto;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 768px) {
    .header-title {
        font-size: 1.7em;
    }
}

@media only screen and (min-width: 1366px) {
    .administration-card {
        width: 50%;
    }
}
