.modal-fullscreen {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    /*background-color: white;*/
    z-index: 100;
    top: 4.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.modal-header {
    padding: 1rem;
    background: white;
    color: black;
}

.modal-header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal-content {
    padding: 1rem;
}

.modal-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
