.footer {
    background-color: #efefef;
    width: 100%;
    padding: 1.5rem 0 4.5rem 0;
    border-top: 2px solid rgb(221, 221, 221);
    margin-top: 1.5rem;
    font-variant: small-caps;
    text-align: center;
}

/*.footer-container {*/
/*    display: flex;*/
/*    height: 100%;*/
/*    font-variant: small-caps;*/
/*    justify-content: center;*/
/*}*/

/*.footer-text {*/
/*    font-size: 1.03em !important;*/
/*}*/

/*.brand-color {*/
/*    color: #FF2677;*/
/*}*/

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #8d8989;
}

@media only screen and (max-width: 768px) {
    .grid-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}