.search-active {
    background-color: rgb(255, 255, 255);
}

.search {
    background-color: rgba(255, 255, 255, 0.4);
}

.background-searchbar {
    padding: 0.02rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.4s;
}

.search-bar {
    display: flex;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #efefef;
    border-radius: 2rem;
    margin: 0.8rem;
    padding: 0.05rem 0.05rem 0.05rem 1rem;
}

div > svg {
    color: #b1a4a4;
    width: 2rem;
}

div > input[type=search] {
    color: black;
    flex: 8;
    border: none;
    margin: 0.7rem;
    outline: none;
    font-size: 1rem;
    background-color: #efefef;
}