.search-active {
    background-color: rgb(255, 255, 255);
}

.search {
    background: linear-gradient(90deg, #F9FDFF, #B2DAF4, #CBEAFE, #5EBAE3, #83C5E8, #9ACCE7, #67BDDE, #008EAC, #0185AC, #048CB4);
}

.background-searchbar {
    display: flex;
    align-items: center;
    padding: 0.03rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.4s;
}

.search-bar {
    display: flex;
    flex: 1;
    font-size: 14px;
    height: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #efefef;
    border-radius: 2rem;
    margin: 0.8rem;
    padding: 0.05rem 0.05rem 0.05rem 1rem;
}

.search-bar > svg {
    color: #b1a4a4;
    width: 2rem;
}

div > input[type=search] {
    color: black;
    flex: 8;
    border: none;
    margin: 0.7rem;
    outline: none;
    font-size: 1rem;
    background-color: #efefef;
}

.btn-exit {
    padding-right: 0.7rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .search {
        background: linear-gradient(90deg, #CDE7F6, #54ADD9, #72BCDF, #9ED0EB, #68B4D6);
    }
}