.body-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bill-data-container {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.bill-data {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    white-space: nowrap;
}

.customer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    word-wrap: anywhere;
}

.object-title {
    font-weight: bold;
}

.data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    border-spacing: 0 0.3rem;
    width: 100%;
}

.data tr:nth-child(even) {
    background-color: rgba(255, 26, 77, 0.1);
}

.data thead {
    background-color: #FF2677;
    color: #fff;
}

.total-amount-container, .iva-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .body-container {
        font-size: 0.7rem;
    }
}