.title {
    color: rgb(41, 41, 41);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: stretch;*/
    /*background-color: rgb(41, 41, 41);*/
    /*border: 1px solid black;*/
    margin: 1.5rem;
    border-radius: 2.5%;
}

.action {
    margin: 1rem 0 5rem 0;
    /*height: 100%;*/
    width: 100%;
    border-radius: 13px;
}

.action button {
    background-color: #3f3f3f;
    border: 1px solid #3f3f3f;
    text-align: center;
    color: white;
    width: fit-content;
    font-size: 1.2em;
}

.action button:hover {
    border: 1px solid #3f3f3f;
    background-color: #3f3f3f;
    color: #ff4d00;
}
