.option {
    background-color: #b37aec;
    border-radius: 16px;
    width: 30%;
    margin: 0.5rem;
}

@media all and (max-width: 768px) {
    .option {
        border-top: 2px solid #efefef;
        border-radius: 0;
        width: 100%;
        background-color: transparent;
    }
}
