.btn-back, .btn-filters {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.425s ease-out;
}

.btn-filters {
    width: 2.5rem;
    transform: rotate(90deg);
}

.btn-back:hover {
    transform: translateX(-10%);
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.results-header > div {
    margin-left: 0;
    margin-top: 0;
}

.results-header svg {
    stroke: black;
}

