.btn-back, .btn-filters {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.425s ease-out;
}

.btn-back:hover {
    transform: translateX(-10%);
}

.btn-filters:hover {
    transform: rotateZ(90deg);
}

.nav {
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    width: 30px;
    height: 30px;
}

.nav-toggler {
    cursor: pointer;
    font-size: 0.85rem;
}

.nav-icon {
    width: 24px;
}

.show {
    height: 2rem;
}

/* Hover sul pulsante di visualizzazione menù */
.nav-icon:hover {
    color: #FF2677;
    transform: rotateZ(90deg);
}

/* Media query */
@media screen and (max-width: 720px) {
    .btn-back:hover, .btn-filters:hover {
        transform: none;
    }
}

