.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e8e5e5;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    padding: 0 1rem;
}

.card-description {
    padding: 0 1rem;
}

.card-image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.heart {
    color: white;
    stroke: #F20574;
    stroke-width: 1;
    width: 2rem;
}

.icon svg {
    cursor: pointer;
    color: white;
    stroke: #F20574;
}

.clicked svg {
    color: #F20574;
}

.icon:hover svg {
    color: #F20574;
}

.info {
    display: flex;
    padding: 0 1rem;
}

.info svg {
    width: 10%;
}

.container {
    position: relative;
}

.container svg {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
}

.price {
    padding: 0 1rem;
}
