.rental-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0.3rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.customer-email, .rental-dates, .city-name, .retro-btn {
    font-size: 0.8em;
}

.rental-dates {
    color: #8d8989;
}

.retro-btn {
    border-radius: 2rem;
}

@media only screen and (max-width: 768px) {
    .rental-container {
        grid-template-columns: repeat(1, 1fr);
    }
}