.map {
    height: 100%;
    width: 100%;
}

.title {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
    position: absolute;
    padding: 0.5rem;
    z-index: 1;
    transform: translateY(100%);
}
