.spinner {
    display: flex;
    width: 5%;
    height: 100%;
    margin: auto;
}

.lds-dual-ring {
    align-self: center;
}

.lds-dual-ring:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF2677 transparent #FF2677 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
