.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 1rem;
}

.header-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.3rem 0;
}

.details-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-container, .password-container {
    font-size: 0.7em;
    color: #6e6d6d;
}

.type {
    font-size: 1.05em;
    font-weight: bold;
    width: 100%;
    color: #FF2267;
}

.modify {
    font-size: 0.9em;
    color: #807e7e;
    transition: color 0.325s ease-out;
}

.modify:hover {
    color: #434343;
}

@media only screen and (min-width: 769px) {
    .details-container {
        border-radius: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        margin: 2rem auto;
        width: 70%;
    }

    .address-container, .password-container {
        font-size: 0.8em;
    }
}