.slide {
    display: inline-block;
    width: 100%;
    border-radius: 40px;
}

.card-image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .slide {
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }
}

@media only screen and (min-width: 769px) {
    .card-image {
        height: 15rem;
        border-radius: 1rem;
    }
}
