.slide {
    display: inline-block;
    /*width: 100%;*/
    /*border-radius: 1rem;*/
}

.card-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    .slide {
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }
}

@media only screen and (min-width: 769px) {
    .card-image {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }
}