.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    transform: translateY(90%);
    border-top: 1px solid #efefef;
}

.total-amount {
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;
    width: 25%;
}

.btn-update {
    align-self: center;
    height: 2.7rem;
}

@media only screen and (max-width: 768px) {
    .total-amount {
        font-size: 0.8em;
    }
}