.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.paginationItem {
    background: #fff;
    border: 0;
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.prev,
.next {
    background: #fff;
    border: none;
    margin: 0 1rem;
    width: 2.7rem;
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid #000;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    background-color: #ccc;
    color: #3f3f3f;
    border-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.deactivate {
    display: none;
}
