.text-style {
    font-family: "Noto Sans Old Italic";
}

.card {
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    /*cursor: pointer;*/
}

.card:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.adapter {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
}

.model {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.capacity-content {
    display: flex;
    gap: 0.3rem;
}

.capacity {
    color: #808080;
}

.price {
    font-weight: bolder;
}

.capacity-content svg {
    width: 1.2rem;
    height: 1.2rem;
}

.info {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: auto; /* In desktop info e btn-details are bottom */
    gap: 0.5rem;
}

.info svg {
    width: 1.3rem;
}

.heart {
    color: white;
    stroke: #F20574;
    stroke-width: 1;
    width: 2rem;
}

.icon svg {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    color: white;
    stroke: #fff;
}

.icon svg path {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
}

.clicked svg {
    color: #F20574;
    stroke: #F20574;
}

.shown-btn {
    display: none;
}

@media only screen and (min-width: 769px) {
    .card {
        flex-direction: row;
    }

    .adapter {
        width: 40rem;
    }

    .shown-btn {
        display: block;
    }
}
