.container-mobile {
    text-align: center;
}

.container-desktop {
    background: #9e9d9d;
    display: none;
}

.custom-images {
    border-radius: 0;
}

@media only screen and (min-width: 570px) {
    .container-mobile {
        display: none;
    }
}