.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.slideshowDots {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1rem;
}

.style-arrow svg {
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 2rem;
    cursor: pointer;
    visibility: hidden;
}

.style-arrow svg:hover {
    opacity: 0.7;
}

.show-right svg {
    right: 1rem;
}

.show-left svg {
    left: 1rem;
}

@media only screen and (max-width: 569px) {
    .style-arrow {
        display: none;
    }

    .slideshowSlider {
        scroll-snap-type: x mandatory;
        overflow-y: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 570px) {
    .slideshow:hover .style-arrow svg {
        visibility: visible;
    }
}

@media only screen and (min-width: 901px) {
    .slideshowSlider {
        border-radius: 1rem 0 0 1rem;
    }
}
