/*Calendar days of week*/
.react-datepicker__day-names{
    display: none;
}

/*Overall Calendar*/
.react-datepicker {
    border: none;
    background-color: white;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
}

/*Calendar Overall month*/
.react-datepicker__current-month {
    font-size: 1.4em;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-transform: lowercase;
}

/*.react-datepicker__month-container {*/
/*    width: 100%;*/
/*}*/


/*Calendar month text*/
.react-datepicker__header {
    background-color: white;
    border-bottom: none;
    font-size: 0.7em;
}

/*Calendar month dates area*/
.react-datepicker__month {
    font-size: 0.8em;
    margin: 0;
}

/*Calendar month date numbers*/
.react-datepicker__day {
    width: 3.2em;
    line-height: 3.2em;
    margin: 0;
}

/*First selected single date number*/
.react-datepicker__day--selected {
    background-color: black !important;
    border-radius: 50% !important;
    color: #fff !important;
}

/*On Hover date number*/
.react-datepicker__day:hover {
    box-shadow: 0 0 0 2px #000 inset;
    background-color: #fff;
    border-radius: 50%;
    color: black;
}

/*On Hover date in range number*/
.react-datepicker__day--in-range:hover {
    background-color: #efefef;
    border-radius: 50%;
    color: #FF2677;
}

/*Not On Hover in disabled and outside days*/
.react-datepicker__day--outside-month:hover, .react-datepicker__day--disabled:hover, .react-datepicker__day--disabled {
    box-shadow: none;
    color: #ccc !important;
}

/*Selected dates range*/
.react-datepicker__day--in-range, .react-datepicker__day--keyboard-selected.react-datepicker__day--in-range {
    background-color: #efefef;
    border-radius: 50%;
    color: #FF2677;
}

/*Selected last range date*/
.react-datepicker__day--range-end {
    background-color: black !important;
    border-radius: 50% !important;
    color: #fff !important;
}

/*Selected last month range date & Selected fist month range date*/
.react-datepicker__day--outside-month {
    background-color: transparent !important;;
    color: transparent !important;
    pointer-events: none;
}

/*Reverse dates selection*/
.react-datepicker__day--in-selecting-range {
    background-color: #fff;
    color: black;
}

/*Random selected date*/
.react-datepicker__day--keyboard-selected {
    background-color: white;
    color: black;
}

/*Arrow previous & next icon*/
.react-datepicker__navigation--previous {
    margin-left: 0.4rem;
}
.react-datepicker__navigation--next {
    margin-right: 0.4rem;
}

@media only screen and (min-width: 769px) {
    /*.react-datepicker__month-container{*/
    /*    width: 50%;*/
    /*}*/

    .react-datepicker {
        flex-direction: row;
        justify-content: center;
    }

    .react-datepicker__month-container:nth-of-type(3){
        padding: 0 0.8rem;
    }

    /*.react-datepicker__current-month {*/
    /*    margin-top: 1.5rem;*/
    /*}*/

    .react-datepicker__day {
        width: 3em;
        line-height: 3em;
    }

    .react-datepicker__day-names{
        display: inline;
        margin-inline: auto;
        font-size: 1em;
        line-height: 5em;
    }

    .react-datepicker {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /*day names distances*/
    .react-datepicker__day-name{
        font-size: 0.9em;
        /*padding-right: 2.1rem;*/
        margin: 0 0.47rem;
    }
    .react-datepicker__day-name:nth-of-type(1){
        /*padding-left: 0.9rem;*/
        /*padding-right: 2.3rem;*/
    }
    .react-datepicker__day-name:nth-last-of-type(4), .react-datepicker__day-name:nth-last-of-type(3), .react-datepicker__day-name:nth-last-of-type(2){
        /*margin-left: 0.5rem;*/
    }
}