.data-container {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.report {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.total-price {
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
}

.daily-fee, .fixed-fee {
    font-size: 0.8rem;
    font-style: italic;
}

.date-range {
    font-size: 0.8rem;
    color: #6e6d6d;
}

.confirm-btn {
    height: 2.7rem;
}