.details-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.details > div {
    font-family: "Noto Sans Old Italic", serif;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.details-layout, .details-layout-boat {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.details-layout svg {
    width: 4rem;
}

.boat-svg svg, .boat-svg svg path {
    fill: black;
    /*width: 3rem;*/
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .details {
        grid-template-columns: 1fr;
    }
}
