.boat-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(90deg, #71B9E1, #089AC1);
    text-align: center;
    /*width: 100%;*/
    padding: 1rem;
    color: white;
    margin-top: 0.6rem;
    justify-items: center;
}


.boat {
    font-size: 1em;
    cursor: pointer;
    align-self: center;
}

.boat:hover {
    color: black;
}

.boat:hover svg path,
.boat:active svg path,
.boat:hover svg line {
    fill: black
}

@media only screen and (max-width: 768px) {
    .boat-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
