.places {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-left: 0.4rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.places div {
    text-align: left;
    padding-left: 0.75rem;
    cursor: pointer;
    overflow: hidden;
}

.places > svg {
    color: #bfbfbf;
    width: 1.5rem;
    height: 3rem;
    cursor: pointer;
}