.header {
    display: flex;
    flex: 0 10vw;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
