.container-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

input[type=checkbox] {
    display: none;
}

.label {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.325s ease;
    width: 7rem;
    height: 5rem;
    align-items: center;
}

.label svg path, .label svg line{
    fill: rgba(0, 0, 0, 0.5);
    transition: all 0.325s ease;
}

/*
* Permettiamo la visualizzazione checked del label nascondendo quello del Checkbox,
* quindi modifichiamo l'elemento immediatamente successivo ad un checkbox che un questo caso
* è proprio un label
*/
input[type=checkbox]:checked + .label svg path,
input[type=checkbox]:checked + .label svg line {
    fill: #000;
}

input[type=checkbox]:checked + .label {
    border: 1px solid #000;
}

@media only screen and (max-width: 650px) {
    .container-type {
        grid-template-columns: repeat(2, 1fr);
    }
}
