.title {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 0.5rem;
}

.title p {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.background-searchbar {
    background-color: rgba(255, 255, 255, 0.7);
    position: sticky;
    top: 0;
    padding: 0.02rem;
}

.search-bar {
    display: flex;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #efefef;
    border-radius: 2rem;
    margin: 0.8rem;
    padding: 0.05rem 0.05rem 0.05rem 1rem;
}

div > svg {
    color: #b1a4a4;
    width: 2rem;
}

div > input[type=search] {
    color: black;
    flex: 8;
    border: none;
    margin: 0.7rem;
    outline: none;
    font-size: 1rem;
    background-color: #efefef;
}

.main-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}