.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.control label,
.control input {
    display: block;
}

.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
}

.control input {
    flex: 3;
    font: inherit;
    padding: 0.55rem 0.55rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus {
    outline: none;
    border-color: #3A3FF0;
    background: #e9efff;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error-text {
    color: #b40e0e;
}

@media (min-width: 768px) {
    .auth {
        margin: 4rem auto;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }

    .auth h1 {
        text-align: left;
    }

    .control {
        align-items: center;
        flex-flow: row wrap;
    }

    .control label {
        width: 25%;
    }

    .control input {
        width: 75%;
        flex: 0 0 auto;
    }

    .control span {
        margin-left: 25%;
    }
}
