.numberSpinner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.number-spinner-container {
    display: flex;
    flex-direction: column;
}

.numberSpinner input {
    text-align: center;
}

.numberSpinner input::-webkit-outer-spin-button,
.numberSpinner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.increase-btn, .decrease-btn {
    border-radius: 40%;
    color: rgba(0, 0, 0, 0.325);
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.325s ease;
    width: 2rem;
    height: 2rem;
}

.increase-btn:hover, .decrease-btn:hover {
    color: rgba(0, 0, 0, 0.725);
    border-color: rgba(0, 0, 0, 0.725);
}

.error-text {
    margin: 0 !important;
    color: #b40e0e;
}
