.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-header-container svg {
    position: absolute;
    left: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.header-text {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}