.Button {
    cursor: pointer;
    font: inherit;
    background-color: #FF2677;
    color: white;
    border-radius: 6px;
    padding: 0.5rem 2.5rem;
    width: 100%;
}

.Button:hover {
    background-color: white;
    color: #FF2677;
    border: 1px solid #FF2677;
}

.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
    background-color: #ccc;
    color: #3f3f3f;
    border-color: #ccc;
    cursor: not-allowed;
}
