.newAdvertisement-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    right: 0;
    height: 6rem;
    background-color: #fff;
    width: 50%;
    padding: 0 0.5rem;
    z-index: 1;
}

.newAdvertisement-actions {
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .newAdvertisement-footer {
        width: 100%;
    }
}
