.newAdvertisement-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    right: 0;
    height: 6rem;
    background-color: #fff;
    width: 50%;
    z-index: 1;
}

.newAdvertisement-actionFirst {
    color: black;
}

@media only screen and (max-width: 768px) {
    .newAdvertisement-footer {
        width: 100%;
    }

    .newAdvertisement-footer button {
        width: 25%;
    }
}
